body
{
    background-size: cover;
}

.copy_right_footer
{
    position: fixed;
    font-size: 17px;
    font-family: monospace;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:grey;
    line-height: 3;
    text-align: center;
}